<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>art</display-name>

    <!--异步Servlet测试-->
    <servlet>
        <servlet-name>AsyncServletTest</servlet-name>
        <servlet-class>net.sjl.servlet.AsyncContextTestServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncServletTest</servlet-name>
        <url-pattern>/AsyncServletTest.do</url-pattern>
    </servlet-mapping>

</web-app>